.formulario {
	padding: 5px;
}

.formulario select{
	width: 300px;
}

#map {
	padding: 5px;
	height: 600px;
}

#btnTodos {
	margin-left: 160px;
}

#txtBusqueda {
	height: 32px;
	border: 2px solid gray;
}
